@import "tailwindcss";

.nav-flex {
  @apply flex gap-3 items-center;
}

.nav-link {
  @apply rounded-full px-4 py-1 text-center;
}

.active {
  @apply bg-gray-800 text-white font-semibold transition-all text-2xl;
}

.image-size {
  @apply w-10 h-10;
}
